.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  background-color: black;
  color: white;
  list-style: none;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
}

.list {
  margin: 0px 10px;
}

.productBox {
  border: 1px solid;
  border-radius: 5px;
  background-color: #e9e5f8;
  padding: 0px 5px 5px;
}

.productCard {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 5px;
  column-gap: 5px;
  margin: 0px 10px;
}

.signOutBtn {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  cursor: pointer;
}

.m15 {
  margin-left: 15px;
}

.btn {
  border-radius: 5px;
  background: #9bb1e7;
  border: none;
  padding: 5px 10px;
  margin: 0px 5px;
}

.newProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.singleItem {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}
